

<h2> Please fill the form </h2>

<%= form_for @user, url: {action: 'create'}, html: {class:'nifty_form'} do |f| %>
  <%= f.label 'username' %>
  <br />
  <%= f.text_field :username %>
  <br /> <br />
   <%= f.label 'email' %>
  <br />
  <%= f.text_field :email %>
  <br /> <br />
  <%= f.label 'bio' %>
   <br />
  <%= f.text_field :bio %>
  <br /> <br />
  <%= f.submit "Create Profil" %>
<% end %>


<!--
	<%= form_tag url_for(action: 'create'), method: 'post' do %>
	<%= label_tag 'Username' %>
	<%= text_field_tag 'username', @user.username %>
	<br /> <br />
	<%= label_tag 'Email' %>
	<%= text_field_tag 'email', @user.email %>
	<br /> <br />
	<%= label_tag 'Bio' %>
	<%= text_field_tag 'bio', @user.bio %>
	 <br /> <br />
	<%= submit_tag "Create profil" %>
	<% end %>
	-->

<!--
  <form action="users/new">
  Username:<br>
  <input type="text" name="username">
  <br>
  Email:<br>
  <input type="text" name="email" >
  Bio:<br>
  <input type="text" name="bio" >
  <br><br>
  <input type="submit" value="Submit">
</form> 
	-->





